// custom.scss
// Importieren Sie die Bootstrap-Variablen
@import "bootstrap/scss/functions";
@import "bootstrap/scss/variables";
@import "bootstrap/scss/mixins";

// Definieren Sie hier Ihre individuellen Variablen
$theme-colors: (
        "primary": #3f5832, // Beispiel für eine angepasste Primärfarbe
        "secondary": #CBB3BF,
        "success": #85B79D,
        "info": #547AA5,
        "warning": #EC9A29,
        "danger": #A8201A,
        "light": #E8ECDC,
        "dark": #04151F
);

$body-bg: #E8ECDC;

/* Entfernt die Spinners in Webkit-basierten Browsern (Chrome, Safari, etc.) */
input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Entfernt die Spinners in Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}

// Importieren Sie die restlichen Bootstrap-Komponenten
@import "bootstrap/scss/bootstrap";
